/*----------------------------------------------------------1280PX---------------------------------------------------------------------*/
@media screen and (max-width: 1280px){
    /*--------------------------------------CV--------------------------------------------*/
    .h1-cv{
        font-size: 4rem;
    }
}

/*----------------------------------------------------------1200PX---------------------------------------------------------------------*/
@media screen and (max-width: 1200px){
    /*------------------------------------INDEX--------------------------------------------*/
    .main-index{
        margin-top: 100px;
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .article-index{
        margin: 0;
    }
    
    article{
        margin: 0;   
    }
    
    .footer-index{
        margin-top: 120px;
    }
    
    .img-contact{
        width: 100%;
    }

    /*--------------------------------------CV----------------------------------------------*/
    .text-nom{
        font-size: 1.6rem;
        margin-bottom: 12px !important;
    }
    
    .p-cv{
        font-size: 1.1rem;
        margin-bottom: 12px !important;
    }

    /*------------------------------------CONTACT-------------------------------------------*/
    .main-contact{
        flex-direction: column;
        justify-content: center;
    }
}

/*----------------------------------------------------------1140PX---------------------------------------------------------------------*/
@media screen and (max-width: 1140px){
    /*--------------------------------------CV----------------------------------------------*/
    .text-nom{
        font-size: 1.5rem;
    }
    
    .p-cv{
        font-size: 1rem;
    } 
}

/*----------------------------------------------------------1090PX---------------------------------------------------------------------*/
@media screen and (max-width: 1090px){
    /*--------------------------------------CV----------------------------------------------*/
    .text-nom{
        font-size: 1.3rem;
    }
    
    .p-cv{
        font-size: 0.9rem;
    }
    
    form{
      margin-left: 6px;
    }
}

/*-----------------------------------------------------------991PX---------------------------------------------------------------------*/
@media screen and (max-width: 991px){
    /*-------------------------------------INDEX--------------------------------------------*/
    .footer-index{
        margin-top: 120px;
    }
    
    /*--------------------------------------CV----------------------------------------------*/
    .div-photo-moi{
        display: flex;
        justify-content: center;
    }
    
    .photo-moi{
        width: 400px !important;
        height: 400px !important;
    }
    
    .text-nom{
        font-size: 1.7rem;
        text-align: center;
    }
    
    .p-cv{
        font-size: 1.3rem;
        text-align: center;
    }
    
    .div-logos-reseaux{
        display: flex;
        justify-content: center;
    }
    
    .article-profil{
        margin-left: 10px;
    }
    
    .h1-cv{
        margin: 0;
        text-align: center;
    }
}

/*-----------------------------------------------------------880PX---------------------------------------------------------------------*/
@media screen and (max-width: 880px){
    /*------------------------------------PROJETS--------------------------------------------*/
    .main-projets{
        margin-top: 50px;
    }
    
    .article-projets{
        flex-direction: column;
        text-align: center;
    }
    
    .div-card{
        margin-top: 20px;
    }
    
    .footer-projets{
        margin-top: 950px;
    }
    
    .footer-contact{
        margin-top: 200px;
    }
    
    /*--------------------------------------CV--------------------------------------------*/
    .h1-cv{
        font-size: 3rem;
    }
}

/*-----------------------------------------------------------830PX---------------------------------------------------------------------*/
@media screen and (max-width: 830px){
    /*--------------------------------------FOOTER----------------------------------------*/
    .footer-index{
        margin-top: 152px;
    }
    
    .footer-projets{
        margin-top: 1410px;
    }
    
    .footer-cv{
        margin-top: 1px;
    }
    
    .img-contact{
        margin-top: 50px;
    }
    
    .article-contact form{
        margin-top: 10px;
    }
    
    .footer-contact{
        margin-top: 240px;
    }
}

/*-----------------------------------------------------------770PX---------------------------------------------------------------------*/
@media screen and (max-width: 770px){
    /*--------------------------------------INDEX-----------------------------------------*/
    .img-index{
        width: 450px;
        height: 300px;
    }
    
    .footer-index{
        margin-top: 90px;
    }
       
    form{
        margin-left: 10px;
        width: 570px;
    }

    /*--------------------------------------CV--------------------------------------------*/
    .h1-cv{
        font-size: 2.5rem;
    }
}

/*------------------------------------------------------------690PX---------------------------------------------------------------------*/
@media screen and (max-width: 690px){
    /*---------------------------------------CV--------------------------------------------*/
    .photo-moi{
        width: 300px !important;
        height: 300px !important;
    } 
}

/*------------------------------------------------------------580PX---------------------------------------------------------------------*/
@media screen and (max-width: 580px){
    /*---------------------------------------CV--------------------------------------------*/
    .photo-moi{
        width: 200px !important;
        height: 200px !important;
    }
    
    .h1-cv{
        font-size: 2rem;
    }
    
    .text-nom{
        font-size: 1rem;
    }
    
    .text-nom2{
        font-size: 1rem;
    }
    
    .p-cv{
        font-size: 0.8rem;
    }
    
    .p-cv2{
        font-size: 0.8rem;
    }
    
    .text-btn-cv{
        font-size: 1rem !important;
    }
}

/*------------------------------------------------------------470PX---------------------------------------------------------------------*/
@media screen and (max-width: 470px){
    /*---------------------------------------CV--------------------------------------------*/
    .h1-cv{
        font-size: 1.3rem;
    }
    
    .text-btn-cv{
        font-size: 0.9rem !important;
    }
}

/*------------------------------------------------------------445PX--------------------------------------------------------------------*/
@media screen and (max-width: 445px){
    /*-------------------------------------INDEX-------------------------------------------*/
    .img-index{
        width: 350px;
        height: 250px;
    }
    
    /*---------------------------------------CV--------------------------------------------*/
    .photo-moi{
        width: 150px !important;
        height: 150px !important;
    }
    
    .text-btn-cv{
        font-size: 0.7rem !important;
    }
}

/*------------------------------------------------------------420PX--------------------------------------------------------------------*/
@media screen and (max-width: 420px){
    /*---------------------------------------CV--------------------------------------------*/
    .photo-moi{
        width: 120px !important;
        height: 120px !important;
    }
    
    .h1-cv{
        font-size: 1rem;
    }
    
    .text-nom{
        font-size: 0.8rem;
    }
    
    .text-nom2{
        font-size: 0.8rem;
    }
    
    .p-cv{
        font-size: 0.6rem;
    }
    
    .p-cv2{
        font-size: 0.6rem;
    }
    
    .img-contact{
        margin-top: 0px;
    }
    
    .article-contact form{
        margin-top: 0px;
    }
    
    .footer-contact{
        margin-top: 40px;
    }
    
}

/*------------------------------------------------------------395PX--------------------------------------------------------------------*/
@media screen and (max-width: 400px){
    /*---------------------------------------CV--------------------------------------------*/
    .main-cv{
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    
    .photo-moi{
        width: 100px !important;
        height: 100px !important;
    }
    
    .h1-cv{
        font-size: 1.5rem;
    }
    
    .text-nom{
        font-size: 1.3rem;
    }
    
    .text-nom2{
        font-size: 1.3rem;
    }
    
    .p-cv{
        font-size: 1rem;
    }
    
    .p-cv2{
        font-size: 1rem;
    }

/*---------------------------------------BTN--------------------------------------------*/
    .div-btn{
        margin-top: 30px;
    }

/*---------------------------------------CONTACT-----------------------------------------*/
    iframe{
        width: 255px;
    }
    
    form{
        margin: 0;
        width: 255px
    }

}
