<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous"/>
    <link rel="shortcut icon" type="image/png" href="/assets/img/logo-pf.png">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <link rel="stylesheet" href="/assets/stylesheets/responsive.css">

    <title>Portfolio</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="nav-logo navbar-brand" href="#"> 
          <img src="/assets/img/logo.png" alt="logo.cb" width="70" height="60">
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="text-end navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">ACCUEIL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projets">PROJETS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">CURRICULUM-VITAE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="main-cv container-fluid">
        <div class="row">
            <section class="bg-secondary col-lg-3 p-5">
                <article class="text-light">
                    <div class="div-photo-moi">
                      <img class=" photo-moi mb-3 w-100 h-100 text-center" src="assets/img/photo-moi.jpg" width="200" height="200" alt="photo-moi">
                    </div>
                      <div class="div-cv-mg">
                        <p class="text-nom mb-1 text-dark"><b>CHRISTOPHE BUIRE</b></p>
                        <p class="p-cv mb-1">Marié</p>
                        <p class="p-cv mb-1">1 Enfant</p>
                        <p class="p-cv mb-1">Permis B, Véhiculé</p>
                        <p class="p-cv mb-1">CACES - 1 - 3 - 5</p>
                        <br>
                        <p class="text-nom mb-1 text-dark"><b>COORDONNEES</b></p>
                        <p class="p-cv mb-1">Le Bosquet</p>
                        <p class="p-cv mb-1">129 Rue de Granière Bt A1</p>
                        <p class="p-cv mb-1">13011</p>
                        <p class="p-cv mb-1">Marseille</p>
                        <br>
                        <p class="text-nom mb-1 text-dark"><b>TELEPHONE & MAIL</b></p>
                        <p class="p-cv mb-1">06.27.86.79.53</p>
                        <p class="p-cv mb-1">buirechristophe@gmail.com</p>
                        <br>
                        <p class="text-nom mb-1 text-dark"><b>FORMATION</b></p>
                        <p class="p-cv mb-1">2021/ 22: Concepteur Développeur d'application Web (Ecole Ri7).</p>
                        <p class="p-cv mb-1">2017: CACES 1 - 3 - 5 (Ecole E.C.F).</p>
                        <br>
                        <p class="text-nom mb-1 text-dark"><b>COORDONNEES</b></p>
                        <p class="p-cv mb-1">Le Bosquet</p>
                        <p class="p-cv mb-1">129 Rue de Granière Bt A1</p>
                        <p class="p-cv mb-1">13011</p>
                        <p class="p-cv mb-1">Marseille</p>
                        <br>
                        <p class="text-nom mb-1 text-dark"><b>LOISIRS</b></p>
                        <p class="p-cv mb-1">Musique, Jeux vidéo</p>
                        <p class="p-cv mb-1">Sport, Informatique</p>
                        <br>
                        <p class="text-nom mb-1 text-dark"><b>LANGUES</b></p>
                        <p class="p-cv mb-1">Français</p>
                        <p class="p-cv mb-1">Anglais (Débutant)</p>
                        <br>
                        <p class="text-nom mb-1 text-dark"><b>RESEAUX SOCIAUX</b></p>
                        <div class="div-logos-reseaux">
                        <a class="logos-reseaux" target="_blank" href="https://github.com/Blondin13"><img src="/assets/img/git.png" height="25px" width="25px" alt="logo-git" class="me-1"><a class="logos-reseaux" target="_blank" href="https://www.linkedin.com/in/buire-christophe-294008224/"><img src="/assets/img/in.png" height="28px" width="28px" alt="logo-in"></a>
                      </div>
                    </div>
                </article>
            </section>
            <section class=" section-cv col-lg-9 col-md-12">
                <header>
                    <h1 class="h1-cv"><b>DEVELOPPEUR WEB</b></h1>
                </header>
                <article class="article-profil">
                    <p class="text-nom2 text-dark"><b>PROFIL</b></p>
                    <p class="p-cv2 mb-1">A la recherche d'un stage nécessaire pour la validation de mon diplôme et par la suite une alternance,</p>
                    <p class="p-cv2 mb-1">j'aimerais trouver une entreprise susceptible de m'accueillir pour mon évolution dans le domaine du développement d'application web.</p>
                    <p class="p-cv2 mb-1">Autonome de nature, je peux travailler seul ou en groupe, étant également capable de m’adapterà un environnement que je ne connais pas.</p> 
                    <p class="p-cv2 mb-1">Je sais faire preuve de force de proposition lorsque l’on m’en donne la liberté,</p>
                    <p class="p-cv2 mb-1">cherchant toujours à améliorer et optimiser les projets au maximum pour satisfaire au mieux la demande du client.</p>
                </article>
                <article class="article-profil">
                    <p class="text-nom2 text-dark"><b>COMPETENCES</b></p>
                    <p class="p-cv2 mb-1"><span class="span-orange"><b>Formation-dev:</b></span> HTML, CSS, Bootstrap, Responsive, Javascrip, TypeScript, MySQL, PHP, Figma pour mise en page et maquette fonctionnelle.</p>
                    <p class="p-cv2 mb-1"><span class="span-orange"><b>Télécom:</b></span> Tireur de câbles, préparateur de commandes, utilisation de logiciel de stockage.</p>
                    <p class="p-cv2 mb-1"><span class="span-orange"><b>En autodidacte:</b></span> Montage, démontage, diagnostic, réparation PC, installation système, drivers et programmes.</p>
                    <p class="p-cv2 mb-1"><span class="span-orange"><b>Cariste:</b></span> Préparations de commandes. Réceptions, contrôles, conditionnement, rangement, chargement de marchandise.</p>
                </article>
                <article class="article-profil">
                    <p class="text-nom2 text-dark"><b>EXPERIENCES PROFESSIONNELLES</b></p>
                    
                    <p class="p-cv2 mb-1"><b> 2021 /2022: </b> <span class="span-orange"><b> ECOLE RI7 </b></span></p>
                    <p class="p-cv2 mb-4">En formation pour devenir concepteur développeur d'application web.</p>

                    <p class="p-cv2 mb-1"><b> 2019 /2020: </b> <span class="span-orange"><b> SERFIM.TIC </b></span></p>
                    <p class="p-cv2 mb-4">Repérage des chambres, balisage, tirage de fibres optiques.</p>

                    <p class="p-cv2 mb-1"><b> 2017 /2019: </b> <span class="span-orange"><b> ERT TECHNOLOGIE ET CIRCET </b></span></p>
                    <p class="p-cv2 mb-1">Préparateur de commandes en Telecom, réceptions et contrôles de marchandise, Chargements et déchargements pour technicien.</p>
                    <p class="p-cv2 mb-4">Utilisation de logiciels de stockage( Osiris ).</p>

                    <p class="p-cv2 mb-1"><b> 2016 /2017: </b> <span class="span-orange"><b> SERPOLLET (devenu SERFIM.TIC) </b></span></p>
                    <p class="p-cv2 mb-4">Mise en place, balisage, tirage de câbles.</p>

                    <p class="p-cv2 mb-1"><b> 2007 /2020: </b> <span class="span-orange"><b> INTERIMAIRE (Crit, Gemo, Adéquat, Sovitrat) </b></span></p>
                    <p class="p-cv2 mb-1">Diverses missions : J'ai travaillé 13ans avec le même chargé d'affaires que j'ai suivi dans toute ces boites d'intérim.</p>
                    <p class="p-cv2 mb-2"><b>Réfèrent :</b> Didier Roux <b>Tel :</b> (En attente)</p>

                    <p class="p-cv2 mb-1"><b> S.N.A.A.M </b></p>
                    <p class="p-cv2 mb-2">Préparateur de commandes en BTP : réceptions, contrôles de marchandises, chargements pour livraisons.</p>

                    <p class="p-cv2 mb-1"><b> EIFFAGE ENERGIE </b></p>
                    <p class="p-cv2 mb-2">Responsable magasinier : gestion des stocks, commandes et redistribution avec suivi du matériel donné aux ouvriers.</p>

                    <p class="p-cv2 mb-1"><b> ALTRAD PLETTAC </b></p>
                    <p class="p-cv2 mb-2">Préparateur de commande, gestion des retours et reconditionnement du matériel.</p>

                    <p class="p-cv2 mb-1"><b> 2001 /2005: </b> <span class="span-orange"><b> SHAMAN ORGANISATION SYSTEME (S.O.S) </b></span></p>
                    <p class="p-cv2 mb-1">Artiste et associé dans un studio d’enregistrement : auteur, compositeur, interprète, concert.</p>
                    <p class="p-cv2 mb-5">Utilisation de divers logiciels (Fruity-Loops, Cubasse, Wave-Lab).</p>
                </article>
            </section>
        </div>
    </main>
    <div class="div-btn">
      <div>
        <a target="_blank" class="btn" href="assets/cv/CV-CHRISTOPHE-BUIRE.pdf">
          <b class="text-btn-cv">Voir & Télécharger CV.pdf</b>
        </a>
      </div>
    </div>
    <footer class="footer-cv">
        <h2>© Ecole Ri7 - 2022</h2>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>