<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
		<link rel="shortcut icon" type="image/png" href="/assets/img/logo-pf.png">
		<link rel="stylesheet" href="/assets/stylesheets/style.css"/>
		<link rel="stylesheet" href="/assets/stylesheets/responsive.css"/>

		<title>Portfolio</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="nav-logo navbar-brand" href="#">
					<img src="/assets/img/logo.png" alt="logo.cb" width="70" height="60"/>
				</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="text-end navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="/">ACCUEIL</a>
						</li>

						<li class="nav-item">
							<a class="nav-link active" href="#">PROJETS</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/cv">CURRICULUM-VITAE</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/contact">CONTACT</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<main class="main-projets">
			<article class="article-projets">
				<div class="div-card">
					<img src="/assets/img/cv-online.jpg" class="card-img-top" alt="/public/assets/img/frame.jpg"/>
					<div class="card-body">
						<p class="card-text">Création du C.V en HTML, CSS et Responsive fait en exercice à l'école Ri7 où l'on suit la formation.</p>
						<p>
							<a class="a-git" target="_blank" href="https://github.com/Blondin13/Projet-cv_2022">LIEN GitHub</a>
						</p>
						<p>
							<a class="a-git" target="_blank" href="\assets\projets\fiche-cv-en-ligne.pdf">Voir fiche projet</a>
						</p>
						<p>
							<a target="_blank" href="http://christophe-buire.ri7.tech/Projet-cv_2022/index.html" class="btn btn-dark">CLIQUER POUR VOIR</a>
						</p>
					</div>
				</div>

				<div class="div-card">
					<img src="/assets/img/morpion-jeu.jpg" class="card-img-top" alt="/public/assets/img/frame.jpg"/>
					<div class="card-body">
						<p class="card-text">Création du jeu morpion en HTML, CSS et J.S fait en exercice à l'école Ri7 où l'on suit la formation.</p>
						<p>
							<a class="a-git" target="_blank" href="https://github.com/Blondin13/Morpion_Ri7">LIEN GitHub</a>
						</p>
						<p>
							<a class="a-git" target="_blank" href="\assets\projets\fiche-morpion-en-ligne.pdf">Voir fiche projet</a>
						</p>
						<p>
							<a target="_blank" href="http://christophe-buire.ri7.tech/Morpion_Ri7/" class="btn btn-dark">CLIQUER POUR JOUER</a>
						</p>
					</div>
				</div>
				<!--
				<div class="div-card">
					<img src="/assets/img/jeu-de-memoire.jpg" class="card-img-top" alt="/public/assets/img/frame.jpg"/>
					<div class="card-body">
						<p class="card-text">Création du jeu de mémoire en HTML, CSS et J.S fait en exercice à l'école Ri7 où l'on suit la formation.</p>
						<p>
						<a class="a-git" target="_blank" href="https://github.com/Blondin13/Jeu-de-memoire">LIEN GitHub</a>
						</p>
						<p>
							<a class="a-git" target="_blank" href="\assets\projets\Fiche-morpion-en-ligne.pdf">Voir fiche projet</a>
						</p>
						<p>
						<a target="_blank" href="\assets\projets\ri7-jdm-master/index.html" class="btn btn-dark">CLIQUER POUR JOUER</a>
						</p>
					</div>
				</div>
				-->
				<div class="div-card">
					<img src="/assets/img/mario-figma.jpg" class="card-img-top" alt="/public/assets/img/frame.jpg"/>
					<div class="card-body">
						<p class="card-text">Création d'un site HTML, CSS et J.S par rapport à une maquette que l'on nous a fait créé sur Figma.</p>
						<p>
						<a class="a-git" target="_blank" href="https://github.com/Blondin13/Integration_mario_figma">LIEN GitHub</a>
						</p>
						<p>
							<a class="a-git" target="_blank" href="\assets\projets\fiche-figma-integration-en-ligne.pdf">Voir fiche projet</a>
						</p>
						<p>
						<a target="_blank" href="http://christophe-buire.ri7.tech/Integration_mario_figma/" class="btn btn-dark">CLIQUER POUR VOIR</a>
						</p>
					</div>
				</div>

			</article>
		</main>

		<footer class="footer-projets">
			<h2>© Ecole Ri7 - 2022</h2>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	</body>
</html>
