/*-------------------------------------------------------------- POLICES ----------------------------------------------------------------------*/
@font-face {
  font-family: star2;
  src: url(assets/font/SFDistantGalaxyAltOutline.ttf);
}

@font-face {
  font-family: star;
  src: url(assets/font/SFDistantGalaxyAlternate.ttf);
}

@font-face {
  font-family: logo;
  src: url(assets/font/StarWarslogo.ttf);
}

/*----------------------------------------------------------- STYLE POLICES ------------------------------------------------------------------*/

span{
  font-family: logo;

}

h1{
  text-align: center;
  font-family: star2;
  font-size: 4rem;
  color: rgb(255, 210, 73, 1);
  text-shadow: 2px 2px 5px rgb(0, 29, 56);
}

p{
  text-align: center;
  font-family: star2;
  font-size: 1.5rem;
  color: rgb(255, 0, 0);
  letter-spacing: 4px;
  text-shadow: 2px 2px 5px rgb(255, 238, 2);
}

label{
  text-align: center;
  font-family: star2;
  font-size: 0.8rem;
  color: rgb(175, 175, 175);
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px white; 
}

.plabel{
  text-align: center;
  font-family: star2;
  font-size: 0.8rem;
  color: rgb(175, 175, 175);
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px white; 
}

#nb_row{
  width: 500px;
  font-family: star;
  color: black;
  font-size: 1rem;
  box-shadow: 2px 2px 5px white;
}

#nb_col{
  width: 500px;
  font-family: star;
  color: black  ;
  font-size: 1rem;
  box-shadow: 2px 2px 5px white;
}

#new_game_button {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: star2;
  color: rgb(8, 144, 255);
  background-color: black;
  border: 1px solid rgb(8, 144, 255);
  border-radius: 5%;
  text-shadow: 1px 1px 2px white; 
}

.pfin{
  text-align: center;
  font-family: star2;
  font-size: 2rem;
  color: rgb(255, 210, 73, 1);
  text-shadow: 2px 2px 5px rgb(0, 29, 56); 
}

/*---------------------------------------------------------- DECOR & TAILLE ------------------------------------------------------------------*/


body{
background-color: black;
}

header{
  display: flex;
  justify-content: space-between; 
}

.deco{
  width: 200px;
  height: 200px;
}

.marge{
  background-color: black;
  background-size: 100%;
  width: 100%;
  height: 18px;
  position: absolute;
}

.video{
  display: flex;
  justify-content: center;
}

#container {
  max-width: 2046px;
  margin: auto;
  text-align: center;
}

#board {
  margin: auto;
  text-align: center;
}

.controls {
  margin-top: 30px;
  margin-bottom: 30px;
}

input{
  background-color: rgb(1, 248, 22);
  border: 1px solid rgb(56, 255, 7);
  border-radius: 30%;

}

.cell {
   width: 100px;
   height: 100px;
   border: 1px solid rgb(255, 255, 255);
   background-color: black;
}

img{
  width: 100%;
  height: 100%;
}




